---
import Layout from '../layouts/BlogPost.astro';

---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('September 20 2024')}
	heroImage="public/profile.jpeg"
>
	<p>
As a Second-year BTech student, I am passionate about technology and development. My journey in the tech world has equipped me with a strong foundation in full-stack development, specializing in the MERN stack (MongoDB, Express.js, React, Node.js). Proficient in C++, I enjoy solving complex problems and creating efficient, scalable solutions.



	</p>

	<p>
		I have a keen interest in Data Structures and Algorithms (DSA) and actively participate in Competitive Programming (CP), which helps me sharpen my problem-solving skills and think algorithmically.

	</p>

	<p>
		I thrive on challenges and constantly seek opportunities to learn and grow. My hands-on experience in various projects has honed my skills in designing and implementing user-friendly interfaces and robust backend systems. Alongside my technical abilities, I possess excellent communication skills, enabling me to collaborate effectively with peers and contribute to team success.

	</p>

	<p>
		I am excited to connect with like-minded professionals and explore opportunities where I can apply my skills and contribute to impactful projects. Let’s connect and share our passion for technology and innovation!

	</p>

	<p>
		
	</p>
</Layout>
