---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I’m Sunny Shukla</h1>
			<p>
				Welcome to my portfolio! I’m a passionate developer with a knack for turning ideas into real-world applications. As a BTech student with a strong foundation in full-stack development, I thrive on building scalable, efficient web solutions. With skills in Node.js, React, Go, and MongoDB, I love creating seamless user experiences from front to back.

I’m constantly evolving, learning new tools, and honing my craft to stay at the forefront of web development. Whether it's crafting clean UI, optimizing backend services, or working with dynamic teams, I’m ready to make an impact!

Feel free to explore my projects and reach out for collaboration!


			</p>
			<p>
				
			</p>
			<p></p>
			<ul>
				
			</ul>
			<p>

			</p>
			<p>

			</p>
		</main>
		<Footer />
	</body>
</html>
